@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --title: #9333ea;
  --subtitle: #a855f7;
  --border: #7e22ce;
  --font-title: 2.5rem;
  --font-subtitle: 1rem;
  --container: 45.25rem;
  --menu: rgba(0, 0, 0, 0.02);
}

.dark {
  --background: #0c0a09;
  --title: #7e22ce;
  --subtitle: #9333ea;
  --border: #5b21b6;
  --menu: rgba(255, 255, 255, 0.02);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animationSkills {
  animation: animaSkills 20s linear forwards infinite;
  animation-play-state: running;
}

.animationSkillsPaused {
  animation: animaSkills 20s linear forwards infinite;
  animation-play-state: paused;
}

@keyframes animaSkills {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 12px));
  }
}

.sombraMenu {
  box-shadow: inset 5px 5px 5px 0px var(--menu);
}

.animaTexto {
  animation: animacaoTexto 0.3s ease-in-out;
}

@keyframes animacaoTexto {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}
