@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --title: #9333EA;
  --subtitle:#A855F7; 
  --border:#7E22CE; 
  --font-title: 2.5rem; 
  --font-subtitle: 1rem; 
  --container:45.25rem; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0A09;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
